<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Contact Us</h2>
  <form>
    <div class="form-group">
      <label for="email">Email:</label><label style="color:red">(Required)</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
     <div class="form-group">
      <label for="name">Enter Name:</label><label for="email">Email:</label><label style="color:red">(Required)</label>
      <input type="Name" class="form-control" id="pwd" placeholder="Enter Name">
    </div>
  
    
        <div class="form-group">
          <label for="subject">Subject:</label><label for="email">Email:</label><label style="color:red">(Required)</label>
          <input type="subject" class="form-control" id="textarea" placeholder="Enter Subject Here">
        </div>
        <div class="form-group">
      <label for="comment">Message</label><label for="email">Email:</label><label style="color:red">(Required)</label>
      <textarea class="form-control" rows="5" id="comment" placeholder= "Enter Message.."></textarea>
    </div>
      <button type="submit" class="btn btn-default">Submit</button>
      
 </form>
   

</body>
</html>
